*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
  background-color: rgb(20, 22, 48);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  height: 10%;
  width: 70%;
  margin-left: 13%;
}

.link {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

div {
  list-style: none;
  margin: 0;
  padding: 15px;
}

.dropbtn {
  background-color: rgb(20, 22, 48);
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 141px;
  box-shadow: black;
  font-size: 13px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(20, 22, 48);
}

  .tradingview-container {
    padding-top: 2%;
    padding-bottom: 10%;
  }
  
  .box1 {
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 2%;
    font-size: 60px;
    color: white;
  }
  
  .box2 {
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    width: 40%;
    font-size: 60px;
    margin-left: 200px;
    float: left;
  }
    
  .box3 {
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    width: 13%;
    height: 100px;
    margin-top: 1%;
    font-size: 60px;
    float: right;
    margin-right: 250px;
  }
    
    .kupit {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      color: white;
      padding: 24px 100px;
      font-size: 16px;
      border-radius: 10px;
      cursor: pointer;
      float: left;
      border: 2px solid #14db7e83;
    }
  
    .kupit:hover{
      color: rgba(245, 0, 0, 0);
      background-color: #14db7e83;
      transition: linear 0.2s;
      border-radius: 10px;
    }
  
  .link1 {
    color: white;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    }

  .footer {
    background-color: #07183d;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 15px;
    border: 2px solid #14db7e83;
  }
    
  .dogovori{
     display: flex;
     margin-left: 20%;
     width: 60%;
     font-size: 20px;
    margin-top: 1%;
     justify-content: space-evenly;
    }
    
  .dogovori a{
    color: white;
    text-decoration: none;
  }
    
    .footer-risk {
      margin-top: 1.5%;
      margin-left: 13%;
      display: block;
      width: 74%;
      color: white;
      margin-bottom: 1%;
    }
  
  
    .social{
      display: flex;
      justify-content: space-evenly;
      margin-left: 20%;
      width: 60%;
    }
